<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Author Search</title>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        
        <script>
            $(document).ready(function() {
                $("#search").submit(function() {
                    $.ajax({url: "/books/" + $("#authorId").val(), success: function(result) {
                        var source = $("#book-template").html();
                        var template = Handlebars.compile(source);
                        var html = template(result);
                        $("#results").html(html);
                    }});
                    return false;
                });
            });
        </script>
        
        <script id="book-template" type="text/x-handlebars-template">
            <table class="table table-bordered">
                <tr><th>Book Id</th><th>Title</th></tr>
                {{#each this}}
                <tr><td>{{bookId}}</td><td>{{title}}</td></tr>
                {{/each}}
            </table>
        </script>
    </head>

    <body>
    <div class="container">
        <h2>Search for Books by Author</h2>
        <form id="search" class="form-inline mt-3">
            <div class="form-group">
            <label for="authorId">Author Id:</label>
            <input type="text" id="authorId" class="form-control mx-2" autofocus title="1,2,3,5,6,9"/>
            </div>
            <button type="submit" class="btn btn-primary">Display books</button>
        </form>
        
        <div id="results" class="mt-5"></div>
    </div>
    </body>
</html>